body {
    background: turquoise;
    font-family: helvetica;
}

.topnav a {
    float: left;
    color: rgb(115, 170, 115);
    text-align: center;
    padding: 14px 16px;
    font-size 17px;
    font family: helvetica;
}

.topnav a:hover {
    background-color: purple;
    color: black;
}

.topvnav a:active {
    background-color: yellow;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figcaption {
    background-color: pink;
    color: whitesmoke; 
    font-style: italic;
    text-align: center;
}

.interests {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

address {
    display: block;
    font-style: italic;
    font-size: 10px;
    background-color: white;
}